In [1]:
import pandas as pd

# 1. Read the CSV file
df = pd.read_csv('AfricaCupofNationsMatches.csv')

In [2]:
# 2. Get first 7 rows
print("\n2. First 7 rows:")
print(df.head(7))

2. First 7 rows:
   Year      Date  Time    HomeTeam       AwayTeam  HomeTeamGoals  \
0  1957  10-Feb-57   NaN     Sudan           Egypt            1.0
1  1957  10-Feb-57   NaN  Ethiopia    South Africa            NaN
2  1957  16-Feb-57   NaN     Egypt        Ethiopia            4.0
3  1959  22-May-59   NaN      Egypt       Ethiopia            4.0
4  1959  25-May-59   NaN     Sudan        Ethiopia            1.0
5  1959  29-May-59   NaN      Egypt          Sudan            2.0
6  1962  14-Jan-62   NaN  Ethiopia         Tunisia            4.0

   AwayTeamGoals             Stage  \
0            2.0        Semifinals
1            NaN        Semifinals
2            0.0             Final
3            0.0  Final Tournament
4            0.0  Final Tournament
5            1.0  Final Tournament
6            2.0        Semifinals

                                SpecialWinConditions                 Stadium  \
0                                                NaN       Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                     NaN
2                                                NaN       Municipal Stadium
3                                                NaN   Prince Farouk Stadium
4                                                NaN   Prince Farouk Stadium
5                                                NaN   Prince Farouk Stadium
6                                                NaN  Hailé Sélassié Stadium

           City  Attendance
0      Khartoum     30000.0
1           NaN         NaN
2      Khartoum     30000.0
3         Cairo     30000.0
4         Cairo     20000.0
5         Cairo     30000.0
6   Addis Ababa     30000.0

In [3]:
# 3. Select specific columns
selected_columns = df[['HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals']]
print("\n3. Selected columns:")
print(selected_columns.head())

3. Selected columns:
    HomeTeam       AwayTeam  HomeTeamGoals  AwayTeamGoals
0     Sudan           Egypt            1.0            2.0
1  Ethiopia    South Africa            NaN            NaN
2     Egypt        Ethiopia            4.0            0.0
3      Egypt       Ethiopia            4.0            0.0
4     Sudan        Ethiopia            1.0            0.0

In [4]:
# 4. Select rows where Egypt appears
egypt_matches = df[(df['HomeTeam'] == 'Egypt') | (df['AwayTeam'] == 'Egypt')]
print("\n4. Rows with Egypt:")
print(egypt_matches.head())

4. Rows with Egypt:
    Year      Date  Time    HomeTeam   AwayTeam  HomeTeamGoals  AwayTeamGoals  \
3   1959  22-May-59   NaN      Egypt   Ethiopia            4.0            0.0
5   1959  29-May-59   NaN      Egypt      Sudan            2.0            1.0
7   1962  18-Jan-62   NaN      Egypt     Uganda            2.0            1.0
9   1962  21-Jan-62   NaN  Ethiopia       Egypt            4.0            2.0
13  1963  24-Nov-63   NaN      Egypt    Nigeria            6.0            3.0

               Stage    SpecialWinConditions                 Stadium  \
3   Final Tournament                     NaN   Prince Farouk Stadium
5   Final Tournament                     NaN   Prince Farouk Stadium
7         Semifinals                     NaN  Hailé Sélassié Stadium
9              Final   win after extra time   Hailé Sélassié Stadium
13           Group B                     NaN   Kumasi Sports Stadium

            City  Attendance
3          Cairo     30000.0
5          Cairo     30000.0
7    Addis Ababa     30000.0
9    Addis Ababa         NaN
13        Kumasi         NaN

In [5]:
# 5. Count rows and columns
print("\n5. Number of rows and columns:")
print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}")

5. Number of rows and columns:
Rows: 622, Columns: 12

In [6]:
# 6. Select rows with missing Attendance
missing_attendance = df[df['Attendance'].isna()]
print("\n6. Rows with missing attendance:")
print(missing_attendance.head())

6. Rows with missing attendance:
    Year      Date  Time    HomeTeam       AwayTeam  HomeTeamGoals  \
1   1957  10-Feb-57   NaN  Ethiopia    South Africa            NaN
8   1962  20-Jan-62   NaN   Tunisia          Uganda            3.0
9   1962  21-Jan-62   NaN  Ethiopia           Egypt            4.0
10  1963  24-Nov-63   NaN     Ghana         Tunisia            1.0
11  1963  26-Nov-63   NaN     Ghana        Ethiopia            2.0

    AwayTeamGoals              Stage  \
1             NaN         Semifinals
8             0.0  Third place match
9             2.0              Final
10            1.0            Group A
11            0.0            Group A

                                 SpecialWinConditions                 Stadium  \
1   Ethiopia  wins due to disqualification of othe...                     NaN
8                                                 NaN  Hailé Sélassié Stadium
9                               win after extra time   Hailé Sélassié Stadium
10                                                NaN    Accra Sports Stadium
11                                                NaN    Accra Sports Stadium

            City  Attendance
1            NaN         NaN
8    Addis Ababa         NaN
9    Addis Ababa         NaN
10         Accra         NaN
11         Accra         NaN

In [7]:
# 7. Select rows where HomeTeamGoals between 3-6
goals_range = df[df['HomeTeamGoals'].between(3, 6, inclusive='both')]
print("\n7. Rows with HomeTeamGoals between 3-6:")
print(goals_range.head())

7. Rows with HomeTeamGoals between 3-6:
   Year      Date  Time    HomeTeam   AwayTeam  HomeTeamGoals  AwayTeamGoals  \
2  1957  16-Feb-57   NaN     Egypt    Ethiopia            4.0            0.0
3  1959  22-May-59   NaN      Egypt   Ethiopia            4.0            0.0
6  1962  14-Jan-62   NaN  Ethiopia     Tunisia            4.0            2.0
8  1962  20-Jan-62   NaN   Tunisia      Uganda            3.0            0.0
9  1962  21-Jan-62   NaN  Ethiopia       Egypt            4.0            2.0

               Stage    SpecialWinConditions                 Stadium  \
2              Final                     NaN       Municipal Stadium
3   Final Tournament                     NaN   Prince Farouk Stadium
6         Semifinals                     NaN  Hailé Sélassié Stadium
8  Third place match                     NaN  Hailé Sélassié Stadium
9              Final   win after extra time   Hailé Sélassié Stadium

           City  Attendance
2      Khartoum     30000.0
3         Cairo     30000.0
6   Addis Ababa     30000.0
8   Addis Ababa         NaN
9   Addis Ababa         NaN

In [8]:
# 8. Change AwayTeamGoals in 3rd row to 10
df.loc[2, 'AwayTeamGoals'] = 10
print("\n8. Changed 3rd row AwayTeamGoals to 10:")
print(df.iloc[2:3])

8. Changed 3rd row AwayTeamGoals to 10:
   Year      Date  Time  HomeTeam   AwayTeam  HomeTeamGoals  AwayTeamGoals  \
2  1957  16-Feb-57   NaN   Egypt    Ethiopia            4.0           10.0

   Stage SpecialWinConditions            Stadium       City  Attendance
2  Final                  NaN  Municipal Stadium   Khartoum     30000.0

In [9]:
# 9. Sort DataFrame
# Note: Assuming 'HomeTeamScores' should be 'HomeTeamGoals'
sorted_df = df.sort_values(by=['HomeTeam', 'HomeTeamGoals'], ascending=[True, False])
print("\n9. Sorted DataFrame:")
print(sorted_df.head())

9. Sorted DataFrame:
     Year      Date  Time   HomeTeam  AwayTeam  HomeTeamGoals  AwayTeamGoals  \
205  1990   2-Mar-90   NaN  Algeria    Nigeria            5.0            1.0
29   1968  14-Jan-68   NaN  Algeria     Uganda            4.0            0.0
135  1980  16-Mar-80   NaN  Algeria     Guinea            3.0            2.0
164  1984   5-Mar-84   NaN  Algeria     Malawi            3.0            0.0
171  1984  17-Mar-84   NaN  Algeria      Egypt            3.0            1.0

                 Stage SpecialWinConditions                       Stadium  \
205            Group A                  NaN          Stade 5 Juillet 1962
29             Group A                  NaN        Hailé Sélassié Stadium
135            Group B                  NaN               Liberty Stadium
164            Group B                  NaN                  Stade Bouaké
171  Third place match                  NaN  Stade Félix Houphouët-Boigny

             City  Attendance
205       Algiers     85000.0
29    Addis Ababa     25000.0
135        Ibadan     20000.0
164        Bouaké     10000.0
171       Abidjan       500.0

In [10]:
# 10. Get column headers as list
columns_list = df.columns.tolist()
print("\n10. Column headers list:")
print(columns_list)

10. Column headers list:
['Year', 'Date ', 'Time ', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals', 'Stage', 'SpecialWinConditions', 'Stadium', 'City', 'Attendance']

In [11]:
# 11. Append a new column
df['GoalDifference'] = df['HomeTeamGoals'] - df['AwayTeamGoals']
print("\n11. Added GoalDifference column:")
print(df.head())

11. Added GoalDifference column:
   Year      Date  Time    HomeTeam       AwayTeam  HomeTeamGoals  \
0  1957  10-Feb-57   NaN     Sudan           Egypt            1.0
1  1957  10-Feb-57   NaN  Ethiopia    South Africa            NaN
2  1957  16-Feb-57   NaN     Egypt        Ethiopia            4.0
3  1959  22-May-59   NaN      Egypt       Ethiopia            4.0
4  1959  25-May-59   NaN     Sudan        Ethiopia            1.0

   AwayTeamGoals             Stage  \
0            2.0        Semifinals
1            NaN        Semifinals
2           10.0             Final
3            0.0  Final Tournament
4            0.0  Final Tournament

                                SpecialWinConditions                Stadium  \
0                                                NaN      Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                    NaN
2                                                NaN      Municipal Stadium
3                                                NaN  Prince Farouk Stadium
4                                                NaN  Prince Farouk Stadium

        City  Attendance  GoalDifference
0   Khartoum     30000.0            -1.0
1        NaN         NaN             NaN
2   Khartoum     30000.0            -6.0
3      Cairo     30000.0             4.0
4      Cairo     20000.0             1.0

In [12]:
# 12. Add 2 new rows
new_rows = pd.DataFrame({
    'Year': [2021, 2021],
    'Date': ['10-Jan-21', '11-Jan-21'],
    'Time': ['20:00', '17:00'],
    'HomeTeam': ['Senegal', 'Morocco'],
    'AwayTeam': ['Egypt', 'Ghana'],
    'HomeTeamGoals': [1, 2],
    'AwayTeamGoals': [0, 1],
    'Stage': ['Final', 'Semifinals'],
    'SpecialWinConditions': [None, None],
    'Stadium': ['Stade Olympique', 'Stade Mohamed V'],
    'City': ['Yaoundé', 'Casablanca'],
    'Attendance': [48000, 65000],
    'GoalDifference': [1, 1]
})
df = pd.concat([df, new_rows], ignore_index=True)
print("\n12. Added 2 new rows (last 2 rows):")
print(df.tail(2))

12. Added 2 new rows (last 2 rows):
     Year Date  Time  HomeTeam AwayTeam  HomeTeamGoals  AwayTeamGoals  \
622  2021   NaN   NaN  Senegal    Egypt            1.0            0.0
623  2021   NaN   NaN  Morocco    Ghana            2.0            1.0

          Stage SpecialWinConditions          Stadium        City  Attendance  \
622       Final                 None  Stade Olympique     Yaoundé     48000.0
623  Semifinals                 None  Stade Mohamed V  Casablanca     65000.0

     GoalDifference       Date   Time
622             1.0  10-Jan-21  20:00
623             1.0  11-Jan-21  17:00

In [13]:
# 13. Change 'Uganda' to 'China' in AwayTeam
df['AwayTeam'] = df['AwayTeam'].replace('Uganda', 'China')
print("\n13. Changed Uganda to China in AwayTeam:")
print(df[df['AwayTeam'] == 'China'].head())

13. Changed Uganda to China in AwayTeam:
Empty DataFrame
Columns: [Year, Date , Time , HomeTeam, AwayTeam, HomeTeamGoals, AwayTeamGoals, Stage, SpecialWinConditions, Stadium, City, Attendance, GoalDifference, Date, Time]
Index: []

In [14]:
# 14. Reset index
df_reset = df.reset_index(drop=True)
print("\n14. DataFrame with reset index:")
print(df_reset.head())

14. DataFrame with reset index:
   Year      Date  Time    HomeTeam       AwayTeam  HomeTeamGoals  \
0  1957  10-Feb-57   NaN     Sudan           Egypt            1.0
1  1957  10-Feb-57   NaN  Ethiopia    South Africa            NaN
2  1957  16-Feb-57   NaN     Egypt        Ethiopia            4.0
3  1959  22-May-59   NaN      Egypt       Ethiopia            4.0
4  1959  25-May-59   NaN     Sudan        Ethiopia            1.0

   AwayTeamGoals             Stage  \
0            2.0        Semifinals
1            NaN        Semifinals
2           10.0             Final
3            0.0  Final Tournament
4            0.0  Final Tournament

                                SpecialWinConditions                Stadium  \
0                                                NaN      Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                    NaN
2                                                NaN      Municipal Stadium
3                                                NaN  Prince Farouk Stadium
4                                                NaN  Prince Farouk Stadium

        City  Attendance  GoalDifference Date Time
0   Khartoum     30000.0            -1.0  NaN  NaN
1        NaN         NaN             NaN  NaN  NaN
2   Khartoum     30000.0            -6.0  NaN  NaN
3      Cairo     30000.0             4.0  NaN  NaN
4      Cairo     20000.0             1.0  NaN  NaN

In [15]:
# 15. Check if 'Stadium' column exists
has_stadium = 'Stadium' in df.columns
print("\n15. 'Stadium' column exists:")
print(has_stadium)

15. 'Stadium' column exists:
True

In [16]:
# 16. Convert AwayTeamGoals to float
df['AwayTeamGoals'] = df['AwayTeamGoals'].astype(float)
print("\n16. AwayTeamGoals dtype after conversion:")
print(df['AwayTeamGoals'].dtype)

16. AwayTeamGoals dtype after conversion:
float64

In [17]:
# 17. Remove last 10 rows
df_trimmed = df.iloc[:-10]
print("\n17. DataFrame after removing last 10 rows (new shape):")
print(df_trimmed.shape)

17. DataFrame after removing last 10 rows (new shape):
(614, 15)

In [18]:
# 18. Iterate over rows
print("\n18. First 3 rows when iterating:")
for index, row in df.head(3).iterrows():
    print(f"Row {index}: {row['HomeTeam']} vs {row['AwayTeam']}")

18. First 3 rows when iterating:
Row 0: Sudan  vs  Egypt
Row 1: Ethiopia  vs  South Africa
Row 2: Egypt  vs  Ethiopia

In [19]:
# 19. Change column order
new_order = ['Year', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals', 
             'AwayTeamGoals', 'GoalDifference', 'Stage', 'SpecialWinConditions', 
             'Stadium', 'City', 'Attendance']
df_reordered = df[new_order]
print("\n19. DataFrame with reordered columns:")
print(df_reordered.head())

19. DataFrame with reordered columns:
   Year Date Time   HomeTeam       AwayTeam  HomeTeamGoals  AwayTeamGoals  \
0  1957  NaN  NaN     Sudan           Egypt            1.0            2.0
1  1957  NaN  NaN  Ethiopia    South Africa            NaN            NaN
2  1957  NaN  NaN     Egypt        Ethiopia            4.0           10.0
3  1959  NaN  NaN      Egypt       Ethiopia            4.0            0.0
4  1959  NaN  NaN     Sudan        Ethiopia            1.0            0.0

   GoalDifference             Stage  \
0            -1.0        Semifinals
1             NaN        Semifinals
2            -6.0             Final
3             4.0  Final Tournament
4             1.0  Final Tournament

                                SpecialWinConditions                Stadium  \
0                                                NaN      Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                    NaN
2                                                NaN      Municipal Stadium
3                                                NaN  Prince Farouk Stadium
4                                                NaN  Prince Farouk Stadium

        City  Attendance
0   Khartoum     30000.0
1        NaN         NaN
2   Khartoum     30000.0
3      Cairo     30000.0
4      Cairo     20000.0

In [20]:
# 20. Delete rows where HomeTeamGoals is 0
df_filtered = df[df['HomeTeamGoals'] != 0]
print("\n20. DataFrame after removing rows with HomeTeamGoals=0 (new shape):")
print(df_filtered.shape)

20. DataFrame after removing rows with HomeTeamGoals=0 (new shape):
(496, 15)